// Main Style

// General
@import "variables";
@import "vendor/bootstrap-includes";
@import "helpers/all";
@import "global";
@import "components/all";
@import "pages/all";

#django-background {
    color: #092e20;
    font-size: 11pt;
    background-repeat: no-repeat;
    background-size: auto 200px;
    background-position: center;
    height: 300px;
    background-image: url('../assets/images/django-logo-positive.png');
}

#django-logo-wrapper {
    color: #092e20;
    & > img {
        width: 100px;
    }
    margin-bottom: 1em;
}

.dropdown-menu.show {
  display: block;
}

.mt-6 {
  margin-top: 4.25rem !important;
}

.mt-7 {
  margin-top: 8rem !important;
}

.color-dark-purple {
  color: #2D1E2F;
}

.bg-color-dark-purple {
  background-color: #2D1E2F !important;
}

.color-red {
  color: #F72C25;
}

.bg-color-red {
  background-color: #F72C25;
}

.color-xanthous {
  color: #F7B32B;
}

.bg-color-xanthous {
  background-color: #F7B32B;
}

.color-canilla {
  color: #FCF6B1;
}

.bg-color-canilla {
  background-color: #FCF6B1;
}

.bg-color-canilla:hover {
  background-color: #fcf6b1c2;
}

.color-celadon {
  color: #A9E5BB;
}

.bg-color-celadon {
  background-color: #A9E5BB;
}

.clear-dropdown-toggle,
.clear-dropdown-toggle:hover,
.clear-dropdown-toggle:focus,
.clear-dropdown-toggle:active {
  background-color: transparent !important;
  width: 1rem;
  border: transparent;

}

.dropdown-toggle::after {
  display: none;
}

.dropdown-icon {
  width: 1rem;
  color: black;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.avatar-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  color: rgba(0, 0, 0, 0.621);
  background-color: rgba(128, 128, 128, 0.493);
  font-weight: bold;
  font-size: 18px;
}

.custom-tooltip {
  background-color: black;
  color: rgba(255, 255, 255, 0.88);
  padding: 4px 4px;
  border-radius: 4px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.nav-link, .nav-link:hover {
  color: white;
  padding: 4px 4px;
}

.nav-link.active{
  background-color: #A9E5BB;
  border-radius: 8px;
  color: black;

}

.clear-button {
  border: none; /* Remove the border */
  outline: none;
}

.list-group {
  list-style-type: none;
}

.list-group li {
  margin-bottom: 1rem;

}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 17vw;
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
}

.main-content {
  position: absolute !important;
  margin-left: auto !important;
  left: 18vw !important;
  width: 80% !important;
}

.sidebar-button {
  // normal button styles here
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: transparent;
  border: none;

  &.active,
  &:hover,
  &:active {
    background-color: #A9E5BB;
    color: black;
  }
}
.sidebar-text {
  margin-right: 10px; /* Adjust as needed for spacing */
}

table {
  width: 80%;
  // margin: 40px auto;
}

table.list {
  text-align: center;
  width: 100%;
}

.table-head {
  border-bottom: 1px solid lightslategrey;
  background-color: rgba(128, 128, 128, 0.313);

}

.table-head th {
  padding: 10px ; /* Adjust the padding size as needed */
}

.table-head tr:first-child th:first-child {
  border-top-left-radius: 8px; /* Top left corner radius */
}

.table-head tr:first-child th:last-child {
  border-top-right-radius: 8px; /* Top right corner radius */
}

td {
  border-bottom: 1px solid rgba(119, 136, 153, 0.321);
  text-align: center;
  padding: 12px 15px;
}

tbody tr:last-child td {
  border-bottom: none; /* Remove bottom border from the last row of tbody */
}

// tr:nth-child(even),
// table.list thead > tr {
//   background-color: rgba(0, 20, 151, 0.59);
// }

.report_Container {
  // min-height: 300px;
  // max-width: 1200px;
  margin: 0px auto 0px auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
  // padding: 0px 20px 20px 20px;
}

.report-body {
  // overflow-x: auto;
  // padding: 20px;
}

.custom-input, .custom-select {
  width: 320px;
}

.custom-file-div {
  width: 100%;
  // height: 100%;
  height: 20vh;
  background-color: lightgray;
}

.custom-file-icon {
  width: 4rem;
  height: 4rem;
  color: gray;
}

.custom-file-image {
  width: 100%;
  height: 100%;
  object-fit: "cover";
}
