// Main Style

// General
@import "variables";
@import "vendor/bootstrap-includes";
@import "helpers/all";
@import "global";
@import "components/all";
@import "pages/all";

#django-background {
    color: #092e20;
    font-size: 11pt;
    background-repeat: no-repeat;
    background-size: auto 200px;
    background-position: center;
    height: 300px;
    background-image: url('../assets/images/django-logo-positive.png');
}

#django-logo-wrapper {
    color: #092e20;
    & > img {
        width: 100px;
    }
    margin-bottom: 1em;
}

.dropdown-menu.show {
  display: block;
}

.mt-6 {
  margin-top: 6rem !important;
}

.mt-7 {
  margin-top: 8rem !important;
}

.color-dark-purple {
  color: #2D1E2F;
}

.bg-color-dark-purple {
  background-color: #2D1E2F !important;
}

.color-red {
  color: #F72C25;
}

.bg-color-red {
  background-color: #F72C25;
}

.color-xanthous {
  color: #F7B32B;
}

.color-canilla {
  color: #FCF6B1;
}

.bg-color-canilla {
  background-color: #FCF6B1;
}

.color-celadon {
  color: #A9E5BB;
}

.bg-color-celadon {
  background-color: #A9E5BB;
}

.clear-dropdown-toggle,
.clear-dropdown-toggle:hover,
.clear-dropdown-toggle:focus,
.clear-dropdown-toggle:active {
  background-color: transparent !important;
  width: 1rem;
  border: transparent;

}

.dropdown-toggle::after {
  display: none;
}

.dropdown-icon {
  width: 1rem;
  color: black;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.avatar-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  color: rgba(0, 0, 0, 0.621);
  background-color: rgba(128, 128, 128, 0.493);
  font-weight: bold;
  font-size: 18px;
}

.custom-tooltip {
  background-color: black;
  color: rgba(255, 255, 255, 0.88);
  padding: 4px 4px;
  border-radius: 4px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.nav-link, .nav-link:hover {
  color: white;
  padding: 4px 4px;
}

.nav-link.active{
  background-color: #A9E5BB;
  border-radius: 8px;
  color: black;

}
